absl-py==2.3.1
alembic==1.16.5
anitya_schema==2.3.0
asgiref==3.11.0
astunparse==1.6.3
bcrypt==4.3.0
blinker==1.9.0
catboost==1.2.8
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
contourpy==1.3.3
crochet==2.1.1
cycler==0.12.1
Django==6.0.1
dj-database-url==3.1.0
dnspython==2.8.0
email-validator==2.3.0
fedora-messaging-the-new-hotness-schema==1.2.1
fedora_messaging==3.8.0
Flask==3.1.2
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
flatbuffers==25.2.10
fonttools==4.59.2
gast==0.6.0
google-pasta==0.2.0
graphviz==0.21
greenlet==3.2.4
grpcio==1.75.0
gssapi==1.9.0
gunicorn==23.0.0
h5py==3.14.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.2
keras==3.11.3
kiwisolver==1.4.9
koji==1.35.3
libclang==18.1.1
Mako==1.3.10
Markdown==3.9
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.6
mdurl==0.1.2
ml_dtypes==0.5.3
namex==0.1.0
narwhals==2.6.0
numpy==2.3.2
opt_einsum==3.4.0
optree==0.17.0
packaging==25.0
pandas==2.3.2
pika==1.3.2
pillow==11.3.0
plotly==6.3.1
protobuf==6.32.1
psycopg2-binary==2.9.11
Pygments==2.19.2
pyparsing==3.2.4
python-bugzilla==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
redis==5.3.1
requests==2.32.5
requests-gssapi==1.3.0
rich==14.1.0
scikit-learn==1.7.2
scipy==1.16.2
setuptools==80.9.0
six==1.17.0
SQLAlchemy==2.0.43
sqlparse==0.5.5
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.1.0
the-new-hotness==1.3.0
threadpoolctl==3.6.0
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.3
whitenoise==6.6.0
WTForms==3.2.1

